@use '@/sass/variables.scss' as *;
@use '@/sass/common/mixins/mediaquery.scss' as *;
@use '@/sass/common/mixins/text.scss' as *;
.formGrp {
  border-bottom: 1px solid #d7d7d7;
  padding: 0.75rem 0;
  label {
    font-weight: 500;
    margin: 0 0.5rem;
    font-size: 1rem;
    .necessary {
      text-decoration: none;
      color: #d14b1a;
    }
  }
  .v-field--error:not(.v-field--disabled) .v-label.v-field-label {
    color: #d14b1a;
  }

  .v-messages__message {
    font-size: 1rem;
    line-height: 1rem;
    padding-left: 0;
  }
  .v-field--error:not(.v-field--disabled) .v-field__outline {
    color: #d14b1a;
  }
  .v-input--error:not(.v-input--disabled) .v-input__details .v-messages {
    color: #d14b1a;
  }
  .v-text-field .v-input__details {
    padding-left: 0;
  }
  .info {
    font-size: 1rem;
  }
  .fromTitle {
    font-size: 1.25rem;
    font-weight: bold;
    .necessary {
      color: #d14b1a;
      font-size: 1.25rem;
      text-decoration: none;
    }
  }
  .v-col {
    &:has(.fromTitle) {
      padding-bottom: 0;
    }
  }
  &:has(.fromTitle) {
    padding-bottom: 0.5rem;
    border-bottom: 0;
  }
  &:has(.tab) {
    border-bottom: 0px;
  }
  .compactContent {
    display: flex;
    align-items: center;
    .img {
      display: flex;
      margin: 0 0.5rem;
      max-width: rem(120);
    }
    .v-input {
      max-width: rem(300);
    }
    .iconBtn {
      margin: 0.25rem;
    }
    @include screen('mobile') {
      flex-wrap: wrap;
      > .v-input {
        max-width: 100%;
        width: 100%;
        margin-bottom: 0.25rem;
      }
      .img {
        margin-left: 0;
      }
    }
  }
}
input:-internal-autofill-selected {
  background: #fff !important;
}
.v-radio-group {
  margin-top: -0.5rem;
  @media screen and (max-width: 1280px) {
    margin-top: 0rem;
  }
}
.btn {
  .v-btn__content {
    font-size: 1.25rem;
    padding: 0 8px;
    @include screen('tablet') {
      font-size: 0.9rem;
    }
  }
}
.formBtnGrp {
  margin-top: 3rem;
}
.alertText {
  &.v-alert {
    padding: 0.35rem;
    color: #d14b1a;
    background: transparent;
    line-height: 1.5rem;
  }
}
.v-checkbox {
  .linkText {
    position: relative;
    color: #000;
    font-weight: 600;
    opacity: 1;
    &::after {
      position: absolute;
      width: 100%;
      height: 1px;
      background: #000;
      opacity: 1;
      bottom: -3px;
      content: '';
      left: 0;
    }
  }
}
.captchaCard {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  img {
    @include screen('tablet') {
      width: 90%;
    }
  }
  .img {
    justify-content: center;
    display: flex;
  }
  .content {
    display: flex;
    justify-content: start;
    align-items: center;
    .linkText {
      position: relative;
      height: 1.5rem;
      color: #000;
      font-weight: 600;
      cursor: pointer;
      opacity: 1;
      &::after {
        position: absolute;
        width: 100%;
        height: 1px;
        background: #000;
        opacity: 1;
        bottom: -3px;
        content: '';
        left: 0;
      }
    }
    @include screen('tablet') {
      justify-content: center;
    }
    @include screen('mobile') {
      flex-wrap: wrap;
    }
  }
}
.formGrp {
  &:has(.captchaCard) {
    border-bottom: 0;
  }
}
.formGrp {
  &.noBorder {
    border-bottom: 0;
  }
}
.showExpandCard {
  .v-container {
    padding: 2rem;
  }
}
.h3 {
  font-size: 1.6rem;
  line-height: 2rem;
}
.h4 {
  font-size: 1.35rem;
  line-height: 1.5rem;
}
.filterList {
  margin-bottom: 1.5rem;
  .formGrp {
    border-bottom: 1px solid #d7d7d7;
  }
}
.filterSelect {
  width: rem(200);
  @include screen('xs_mobile') {
    width: 100%;
  }
}
.multipleContent {
  // padding-top: 0 !important;
  .formGrpTitle {
    margin-top: 0.5rem;
  }
  &:has(> select) {
    padding-top: 0 !important;
  }
  select {
    appearance: none;
    &:focus-visible {
      outline: none;
    }
    option {
      padding: 0.5rem;
      &:focus-visible {
        outline: none;
      }
    }
  }
}
select[multiple] option:checked {
  background-color: #f0f0f0 !important; /* 改成你想要的顏色 */
  color: black; /* 調整文字顏色 */
}
.hyUpload {
  &.upload-area {
    border: none;
    border-radius: 4px;
    // background: #f0f0f0;
  }
  .v-table__wrapper {
    > table {
      > thead {
        > tr {
          > th {
            height: 3rem !important;
          }
        }
      }
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    tr {
      border-bottom: 1px solid #d7d7d7;
      a {
        color: #000;
        text-decoration: underline;
      }
    }
  }
  thead {
    color: #fff;
    background: $gray2;
    border-radius: 4px 4px 0 0;
    th {
      padding: 0.5rem;
    }
  }
  td {
    height: 2rem;
    padding: 0.5rem 0;
    &:has(img) {
      img {
        max-width: 60px;
        padding: 0 0.5rem;
      }
    }
  }
  p {
    padding: 1rem;
    .v-btn {
      background: $gray2;
      .v-btn__content {
        color: #fff;
        opacity: 1;
      }
    }
  }
  .v-btn--variant-tonal {
    .v-btn__underlay {
      background: unset;
    }
  }
  .textInfo {
    font-size: 0.9rem;
    line-height: 1.25rem;

    background: #dcdcdcc0;
    border-radius: 0.2rem;
    color: $gray2;

    span {
      display: block;
      margin-bottom: 0.5rem;
    }
  }
}
.compactContent {
}
