@use '@/sass/variables.scss' as *;
@use '@/sass/common/mixins/mediaquery.scss' as *;
@use '@/sass/common/mixins/text.scss' as *;
@use 'sass:color';

table {
  thead {
    white-space: nowrap;
    .v-data-table__td {
      background: #dadfe0;
    }
  }
}
.pagination {
  margin-top: 2rem;
  .v-input {
    width: 65px;
    flex: unset;
  }
  .v-input__control {
    width: 65px;
  }
  .v-btn__content {
    font-size: 1rem;
  }
}

.checkTable {
  thead {
    text-wrap: nowrap;
    th {
      white-space: nowrap;
      font-size: 1rem;
      font-weight: bold !important;
      color: #fff !important;
    }
  }
  tbody {
  }

  &.v-table .v-table__wrapper > table tbody tr:not(:last-child) td {
    border-bottom: 1px solid color.scale(#f4f4f3, $lightness: -10%) !important;
  }
  tr {
    td {
      padding: 1rem !important;
      text-align: start !important;
      > tr {
      }
    }
  }
  td {
    border: 1px solid color.scale(#f4f4f3, $lightness: -10%);
    // border-right: 0px;
    ul {
      padding: 0.5rem;
      text-align: start;
      list-style: none;
      padding-left: 0;
    }
    .v-input {
      display: flex;
    }
  }
  .v-input__control {
    width: 100%;
  }
  .btnGroup {
    button {
      margin: 0 0.25rem;
    }
  }
  .tag {
    margin-top: 0.5rem;
  }
}
.bookTable.v-table {
  .v-table__wrapper > table {
    thead {
      .v-data-table__th {
        background: $theadColor;
        color: #fff;
        font-size: 1rem;
      }
    }
    > tbody {
      .tag {
        padding: 0.25rem 1rem;
        background: $tableTagColor;
        display: inline-block;
        border-radius: 0.25rem;
        color: #fff;
        + div {
          display: flex;
          align-items: center;
          span {
            padding: 0 0.5rem;
          }
        }
      }
      td {
        padding: 0.75rem 1rem;
        > div {
          padding: 0.25rem 0;
          .title {
            display: inline-block;
            min-width: 40px;
            margin-right: 0.5rem;
            font-weight: 500;
            + .name {
              margin-left: 0;
            }
            @include screen('tablet') {
              display: block;
              + a {
                display: block;
              }
            }
          }
          .check {
            margin-left: 0.5rem;
            display: inline-block;
            border: 1px solid;
            padding: 0 0.5rem;
            color: black;
            border-radius: 0.25rem;
            transition: all 0.1s;
            &:hover {
              background: color.scale(#f4f4f3, $lightness: -3%);
            }
            @include screen('tablet') {
              margin-left: 0;
              margin-top: 0.5rem;
            }
          }
          .name {
            display: inline-block;
            margin: 0 0.3rem;
          }
        }
      }
      td[colspan='8'] {
        border-bottom: $tableBorderColor 1px solid !important;
        background-color: color.scale(#f4f4f3, $lightness: -3%);
        .tag {
          padding: 0.25rem 1rem;
          background: $tableTagColor;
          border-radius: 0.25rem;
          color: #fff;
          + div {
            span {
              padding: 0 0.5rem;
            }
          }
        }
      }
      tr:last-child {
        td {
          border-bottom: none !important;
        }
      }
    }
  }
  .v-data-table-footer {
    margin-top: 1rem;
  }
}
