@use '@/sass/variables.scss' as *;
.v-table--density-default > .v-table__wrapper > table > tbody > tr > th,
.v-table--density-default > .v-table__wrapper > table > thead > tr > th,
.v-table--density-default > .v-table__wrapper > table > tfoot > tr > th {
  height: 2.5rem; //calc(var(--v-table-header-height) + 0px);
}
.v-input__control {
  background: #fff;
  & [role='radiogroup'] {
    background: #fafafa;
  }
  &:has(.v-checkbox-btn) {
    background: #fafafa;
  }
}
.dataTableServer.v-data-table {
  .v-table__wrapper > table > thead > tr th {
    background: #dcdcdc;
  }
}
.defaultTableServer {
  table {
    .v-data-table__td {
      background-color: unset;
    }
  }
  &.v-data-table {
    .v-table__wrapper > table > thead > tr th {
      background: $gray2;
      color: #fff;
      font-size: 1rem;
      font-weight: bold !important;
    }
  }
}
.v-table {
  background: unset !important;
}
.v-card {
  .v-input__control {
    background: #fff;
    & [role='radiogroup'] {
      background: #fff;
    }
    &:has(.v-checkbox-btn) {
      background: #fff;
    }
  }
}
