.v-table--density-default > .v-table__wrapper > table > tbody > tr > th,
.v-table--density-default > .v-table__wrapper > table > thead > tr > th,
.v-table--density-default > .v-table__wrapper > table > tfoot > tr > th {
  height: 2.5rem; //calc(var(--v-table-header-height) + 0px);
}
.v-input__control {
  background: #fff;
  & [role='radiogroup'] {
    background: #fafafa;
  }
  &:has(.v-checkbox-btn) {
    background: #fafafa;
  }
}
.dataTableServer.v-data-table {
  .v-table__wrapper > table > thead > tr th {
    background: #dcdcdc;
  }
}
.v-table {
  background: unset !important;
}
