@use '@/sass/variables.scss' as *;
@use '@/sass/common/mixins/mediaquery.scss' as *;
@use '@/sass/common/mixins/text.scss' as *;
@use 'sass:color';

// 文字編輯器 css
// .textEdit {
//   margin-bottom: 1rem;
//   border: 1px solid #b5b5b5;
//   border-radius: rem(8);
//   overflow: hidden;
//   .fr-box.fr-basic {
//     border-radius: 4px;
//     .fr-toolbar,
//     .fr-wrapper,
//     .fr-second-toolbar {
//       border: unset;
//     }
//   }
// }
.fr-box.fr-basic,
.fr-toolbar,
.fr-box.fr-basic .fr-wrapper,
.fr-second-toolbar {
  background: #f0f0f0 !important;
}
.textEdit div[isvalid] {
  border: 1px solid #b5b5b5;
  overflow: hidden;
}

.textEdit div[isvalid='false'] {
  border: 1px solid red;
}

.v-dialog {
  &.consent {
    .v-card-title {
      span {
        white-space: wrap;
      }
    }
    ul {
      margin: 0.5rem 0;
      li {
        padding-left: 1rem;
        margin-bottom: 1.25rem;
        ul {
          li {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}
